.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-container {
  height: calc(100vh - 60px);
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

li {
  padding: 10px;
  background: #eee9e9;
  margin: 10px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.App-header {
  background-color: #004de7;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 5px;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
